@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    background-color: #f2f0fe;
}
body {
    min-height: 100%;
}

.top {
    background-color: #2727c4;
    height: 120px;
    margin: 0px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.stwo{
    background-color: #fdfdfe;
    height: 725px;
    width: 1080px;
    margin: 80px 0;
    border-radius: 15px;
}

.player{
    height: 60px;
    margin: 0px 50px;
}

.name{
    font-family: Poppins;
    font-weight: bold;
}

#HLine{
    background-color: #d30505;
    height: 2px;
    width: 1000px;
    border-radius: 800px;
    margin: 25px 40px;
}

.blog{
    font-family: Poppins;
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
}

.sthree{
    background-color: #fdfdfe;
    height: 475px;
    width: 1080px;
    margin-top: 80px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.course{
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
    margin: 0px;
}

.course_T{
    font-family: Poppins;
    font-weight: bold;
    font-size: 15px;
    padding-left: 10px;
    margin: 0px;
    color: #f08f7b;
}

.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}