@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Yeseva+One&display=swap');

html,
body {
    margin: 0;
    height: 100%;
    background-color: #f2f0fe;
}
body {
    min-height: 100%;
}

.top {
    background-color: #2727c4;
    height: 120px;
    margin: 0px;
    border: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stwo{
    background-color: #fdfdfe;
    height: 1000px;
    width: 1080px;
    margin: 80px 420px;
    border-radius: 15px;
}

.player{
    height: 60px;
    margin: 0px 50px;
}

.name{
    font-family: Poppins;
    font-weight: bold;
}

#HLine{
    background-color: #d30505;
    height: 2px;
    width: 1000px;
    border-radius: 800px;
    margin: 25px 40px;
}

.blog{
    font-family: Poppins;
    font-size: 25px;
    margin: 0px;
    font-weight: bold;
}
